body {
    font-family: Arial;
    text-align: center;
    background-color: #dff3ff;
}

input {
    padding: 8px;
}

button {
    padding: 8px 20px;
    background: navy;
    color: white;
    border: none;
    border-radius: 4px;
}

#weather-result {
    margin-top: 20px;
    background: white;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}