* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    align-items: center;
    justify-content: center;
}


.fade-in {
    animation: fade 1.2s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.weather-card {
    width: 360px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px);
    border-radius: 22px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

.city {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}


.temperature {
    font-size: 64px;
    font-weight: 600;
    background: linear-gradient(90deg, #0047b3, #00c6ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.condition {
    color: #f1f1f1;
    margin: 10px 0 20px;
}


.divider {
    height: 1px;
    background: rgba(255,255,255,0.4);
    margin: 20px 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.stat {
    color: white;
    font-size: 14px;
}

.stat strong {
    display: block;
    font-size: 16px;
    margin-top: 4px;
}


.btn {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: #0047b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #003a91;
}
